.button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button input[type="submit"] {
  display: block;
  background-color: var(--thick-blue);
  border: transparent;
  box-shadow: 0px 3px 6px #00000070;
  border-radius: 50px;
  color: #ffffffd8;
  padding: 0.45rem 0.9rem;
  font-size: 1.2rem;
  width: 100%;
  margin: 2rem auto;
  cursor: pointer;
  transition: all 0.2s ease-out;
  outline: none;
}
.button input[type="submit"]:hover {
  transform: translateY(-5px);
}

.button input[type="submit"]:focus {
  transform: translateY(0);
}

@media screen and (min-width: 600px) {
  .button input[type="submit"] {
    width: 50%;
  }
}
