/* style for item */

.item {
  box-shadow: 2px 2px 2px #00000030;
  display: flex;
  text-decoration: none;
  flex-direction: column;
  border: 0.5px solid #70707040;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  position: relative;
  cursor: pointer;
}
.found_items {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.item_pics {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.item_content {
  background-color: #faf9f7;

  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  position: relative;
}
.floating_boosted {
  background-color: var(--lightPurple);
  color: var(--veryLightBlue);
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.9rem;
  padding: 0.2rem 1rem;
  border-radius: 0px 0px 0px 10px;
}
.item_missing_or_found {
  height: 1.4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 5px; */
  background-color: #9f3831;
  margin: 0 0 0 0;
  font-size: 0.7rem;
  font-weight: 300;
  color: white;
}
.item_name {
  color: var(--thick-blue);
  font-size: 0.9rem;
}
.item_status {
  color: var(--lightBlue);
  font-size: 0.8rem;
}
.item_reward {
  color: var(--darkRed);
  font-size: 0.7rem;
}
.item_category {
  color: var(--lightPurple);
  font-size: 0.8rem;
}

.item_ad {
  display: flex;
  justify-content: center;
  align-items: center;
  border: transparent;
  background-color: var(--lightBlue);
  border-radius: 3px;
  color: var(--veryLightBlue);
  height: 1.2rem;
  width: 65%;
  margin: 3% 0;
  font-size: 0.7rem;
  font-weight: 300;
}

@media screen and (min-width: 700px) {
  .item_pics {
    height: 175px;
  }
  .item_content-heightTall {
    height: 175px;
    padding: 1.25rem 0.9rem 0rem 0.9rem;
  }
  .item_content-heightShort {
    height: 110px;
    padding: 2.25rem 0.9rem 0rem 0.9rem;
  }
  .item_content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .item {
    height: 100%;
    width: 100%;
  }

  .item_ad {
    margin: 3% 0 0 0;
  }
}
