.upload_image {
  position: relative;
  height: 150px;
  border: transparent;
  border-radius: 10px;
  background-color: #ececec;

  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.add_image_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2.5rem;
  color: #13456378;
}

.add_image_content p {
  color: #0000004d;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.9rem 0 0 0;
}

.upload_image img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
